* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.section-1 {
    background-color: #1F2937;
    padding: 0 192px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.logo {
    font-size: 20px;
    color: #F9FAF8
}

.links {
    display: flex;
    font-size: 18px;
    list-style: none;
}

.links li {
    margin-left: 16px;
}

.links a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    padding: 64px 0;
}

.hero-sign {
    flex: 1;
}

.hero-sign h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.hero-sign p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.hero-button {
    font-weight: 900;
    color:#F9FAF8;
    border: none;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 10px 25px;
}

.hero-image {
    background-color: gray;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 128px;
}

.info-content {
    display: flex;
    padding: 50px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 0 25px;
}

.card-img {
    border: 2px solid #3882F6;
    border-radius: 15px;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 300px;
}

.quote {
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
    margin-bottom: 20px;
}

.person {
    font-size: 18px;
    text-align: end;
}

.section-4 {
    background-color: #F9FAF8;
    padding: 64px 192px;
}

.action {
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    padding: 32px 96px;
    border-radius: 10px;
    color:#F9FAF8
}

.action-button {
    font-weight: 900;
    color:#F9FAF8;
    border: 1px solid #F9FAF8;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 10px 25px;
}

footer {
    background-color: #1F2937;
    text-align: center;
    padding: 32px;
    color:#F9FAF8;
}