* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.section-1 {
    background-color: #1F2937;
    padding: 0 192px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8
}

.links {
    display: flex;
    font-size: 18px;
    list-style: none;
}

.links a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    padding: 64px 0;
}

.hero-sign {
    flex: 1;
}

.hero-sign h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8
}

.hero-sign p {
    font-size: 18px;
    color: #E5E7EB
}

.hero-image {
    background-color: gray;
    flex: 1;
}

.section-2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 224px;
}

.info-content {
    display: flex;
    padding: 50px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 0 25px;
}

.card-img {
    border: 2px solid #3882F6;
    border-radius: 15px;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

footer {
    background-color: #1F2937;
}